{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <style>
    body {
         background-image: url('{% static 'qrimages/images.jpg' %}');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: 100% 100%;
    }
    </style>
<title>Welcome</title>
    <body>
        <h1 align="center" style="color:darkblue">====> Welcome User <====</h1>
        <br>
        <h2 align="center" style="color:red">! You are Successfully login to our website !</h2>
        <br>
    </body>
</head>
</html>